/*妝容&穿搭首頁*/
body{
    margin: 0;
}
li{
    list-style: none;
}
ul{margin: 0;padding: 0;}

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 700px;
    background-color: white;
    position: relative;
    top: 500px;
    left: 0;
    right: 0;
}
/*按鈕區*/
.left{
    display: flex;
    flex-direction: column;
    width: 150px;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 20px;
}
.left a{
    text-decoration: none;
    margin-top:30px ;
}
.left .btn{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: 0;
    box-shadow: 5px 5px 10px  gray;
    font-size: 14px;
    color: black;
}

.left .btn:hover{
    background-color: #C0D9F8;
    color: white;
}

.right{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.artical{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    height: 100px;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.artical:hover{
    height: 150px;
}

.artical .text{
    margin-left: 50px;
    width: 500px;
    font-size: 20px;
}


.focus{
    width: 1525px;
    height: 500px;
    position: relative;
    top: 400px;
    overflow: hidden;
}

.focus a{
    width: 30px;
    height: 50px;
    background: rgba(0, 0, 0, 0.133);
    position: absolute;
    /*絕對定位盒子居中*/
    top: 50%;
    margin-top: -15px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: white;
}

.focus ul{/*讓ul可以包含住所有圖片*/
    width: 400%;/*變寬讓li浮起來*/
    position: absolute;
    top: 0;
    left: 0;
}
.focus li{/*變一排*/
    float: left;
}

.focus img{
    width: 1525px;
    height: 500px;
}
.prev{
    display: none;
    position: absolute;
    left: 0;
    z-index: 9;
}
.next{
    display: none;
    position: absolute;
    right: 0;
    z-index: 9;
}

.slide-index{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 13px;
    background-color: rgba(255, 255, 255, 0.501);
    color: white;
    border-radius: 7px;
    padding: 0;
}

.slide-index li{
    width: 8px;
    height: 8px;
    background-color: white;
    float: left;
    border-radius: 4px;
    margin: 3px 7px;
}

.slide-index .select{
    background-color: black;
}

.footer{
    top: 500px;
}

.footer .left img{
    width: 100%;
    margin: 0;
}